<h1 class="acctTitle"><%= title %></h1>

<% if (messages && Object.keys(messages).length > 0) { %>
    <ul class="notice">
      <% Object.keys(messages).forEach(type => { %>
        <% messages[type].forEach(msg => { %>
          <li class="<%= type %>"><%= msg %></li>
        <% }) %>
      <% }) %>
    </ul>
<% } %>

<h2>You're logged in</h2>