<% if (title) { %>
    <h1 class="invTitle"><%= title %></h1>
<% } else {
    res.redirect("/")
} %>

<% if (messages && Object.keys(messages).length > 0) { %>
    <ul class="notice">
      <% Object.keys(messages).forEach(type => { %>
        <% messages[type].forEach(msg => { %>
          <li class="<%= type %>"><%= msg %></li>
        <% }) %>
      <% }) %>
    </ul>
<% } %>

<%- details %>